gtest/
doc/VDSCP_Part_1.pdf
build/
.vscode/
CMakeFiles/
src/CMakeFiles/
src/bench/CMakeFiles/
src/verify/CMakeFiles/
src/test/CMakeFiles/
cmake_install.cmake
CMakeCache.txt
CMakeLists.txt.in
VDSProject*
*.o
*.a
*.so
*.d
results*
lib/
doc/
bin/